<h1>Invitation</h1>
<p>To: <%= @user.name %> </p>

<%= render partial: 'layouts/restaurant', locals: {restaurant: @restaurant, meeting: @meeting } %>

<div>
  <% if @invitation.status == 'pending' %>
    <%= form_tag user_invitation_path(@user, @user.invitations.last), method: :patch do %>
      <%= submit_tag 'Accept', name: :status %>
      <%= submit_tag 'Decline', name: :status %>
    <% end %>
  <% else %>
    You chosen to <%= @invitation.status.downcase %> this invitation.
  <% end %>
</div>

<p><%= link_to 'Invitations', user_invitations_path(@user) %></p>
