	<h1><%= link_to restaurant.name, restaurant.url %></h1>
	<hr>
	<img src=<%= restaurant.image %>>
<ol>
	<li>Cuisine: <%= restaurant.food %></li>
	<li>Location: <%= restaurant.location %></li>
	<li>Phone: <%= number_to_phone(restaurant.phone, area_code: true) %></li>
	<li>Rating: <%= restaurant.rating %> out of 5.</li>
</ol>