<ol>
	<li>restaurant name<%= user.restaurant.name %></li>
	<li> cuisine<%= user.restaurant.food %></li>
	<li>restaurant location<%= user.restaurant.location %></li>
	<li>restaurant phone number<%= user.restaurant.phone %></li>
	<li>restaurant url<%= user.restaurant.url %></li>
	<li>restaurant rating<%= user.restaurant.rating %></li>
	<!-- put image url here -->
</ol>