<ol>
	<li>Restaurant Name: <%= restaurant.name %></li>
	<li>Cuisine: <%= restaurant.food %></li>
	<li>Address: <%= restaurant.location %></li>
	<li>Phone Number: <%= restaurant.phone %></li>
	<li>URL: <%= restaurant.url %></li>
	<li>Yelp Rating: <%= restaurant.rating %></li>
	<!-- put image url here -->
</ol>