	<h1><%= link_to restaurant.name, restaurant.url %></h1>
	<h4><%= meeting.created_at.strftime("%B %d, %Y") %> at <%= meeting.time %></h4>
  <hr>
	<img src=<%= restaurant.image %>>
<ul>
	<li>Cuisine: <%= restaurant.food %></li>
	<li>Location: <%= restaurant.location %></li>
	<li>Phone: <%= number_to_phone(restaurant.phone, area_code: true) %></li>
	<li>Rating: <%= restaurant.rating %> out of 5.</li>
</ul>