<ol>
	<li><%= user.restaurant.name %></li>
	<li><%= user.restaurant.food %></li>
	<li><%= user.restaurant.location %></li>
	<li><%= user.restaurant.phone %></li>
	<li><%= user.restaurant.url %></li>
	<li><%= user.restaurant.rating %></li>
	<!-- put image url here -->
</ol>