<ol>
	<li>restaurant name<%= restaurant.name %></li>
	<li> cuisine<%= restaurant.food %></li>
	<li>restaurant location<%= restaurant.location %></li>
	<li>restaurant phone number<%= restaurant.phone %></li>
	<li>restaurant url<%= restaurant.url %></li>
	<li>restaurant rating<%= restaurant.rating %></li>
</ol>
	<img src=#{<%= restaurant.image %>}>